<?xml version="1.0"?>
<robot name="flying_stereo_cam" xmlns:xacro="http://ros.org/wiki/xacro">
  
  
  <xacro:include filename="$(find flying_stereo_cam)/flying_stereo_cam.gazebo.xacro" />
  <xacro:include filename="$(find flying_stereo_cam)/gazebo.urdf.xacro" />
  <xacro:include filename="$(find flying_stereo_cam)/materials.urdf.xacro" />
  <xacro:include filename="$(find flying_stereo_cam)/macros.xacro" />
  <xacro:include filename="$(find flying_stereo_cam)/stereo_cam.urdf.xacro" />
  
  <!-- materials for visualization -->
  <xacro:include filename="$(find flying_stereo_cam)/materials.urdf.xacro" />
  

  

  
  <xacro:stereo_cam />
  
  <!-- extensions -->
  <xacro:flying_stereo_cam_gazebo />
  
</robot>
