<?xml version="1.0"?>

<model>
  <name>magic_mickey</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>toymaker</name>
    <email>asdf@so.so</email>
  </author>

  <description>
Model Name : Mouse
Author : toymaker
Publisher : toymaker

You can view this model here :
http://www.3dvia.com/content/9E36BD94A6B88A9C
More models about this author :
http://www.3dvia.com/toymaker


-- Attached license --

A license is attached to the Mouse model and all related media.
You must agree with this licence before using the enclosed media.

License : Attribution License 2.5
Detailed license : http://creativecommons.org/licenses/by/2.5/

The licenses used by 3dvia are based on Creative Commons Licenses.
More info: http://creativecommons.org/about/licenses/meet-the-licenses

  </description>
</model>
