<?xml version="1.0" ?>
<model>
  <name>skyline4</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Stefan Isler</name>
    <email>islerstefan@bluewin.ch</email>
  </author>

  <description>
    Nice piece of art, from https://www.pinterest.com/DawnelleKarn/modern-art/, possibly with copyright
  </description>
</model>
