<?xml version="1.0" ?>
<model>
  <name>Stanford bunny</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>3d model: Stanford University Computer Graphics Laboratory; Processing and coloring: S.Isler</name>
  </author>

  <description>
    The 3D model of this data stems from the Stanford University Computer Graphics Laboratory. It is distributed with a license that allows free use and (re-)distribution in an academic or scholar context. Please see http://graphics.stanford.edu/data/3Dscanrep/ for details.
    
    The Collada version here was processed and colored for use within the Gazebo Simulation environment. It too may be used and redistributed as the original model.
  </description>
</model>
