<?xml version="1.0"?>

<model>
  <name>santa</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>maria78x</name>
    <email>asdf@so.so</email>
  </author>

  <description>
Model Name : santa
Author : maria78x
Publisher : maria78x

You can view this model here :
http://www.3dvia.com/content/4EA9754456687A4C
More models about this author :
http://www.3dvia.com/maria78x


-- Attached license --

A license is attached to the santa model and all related media.
You must agree with this licence before using the enclosed media.

License : Attribution License 2.5
Detailed license : http://creativecommons.org/licenses/by/2.5/

The licenses used by 3dvia are based on Creative Commons Licenses.
More info: http://creativecommons.org/about/licenses/meet-the-licenses


  </description>
</model>
