<?xml version="1.0"?>

<model>
  <name>squirrel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sam Grinder</name>
    <email>asdf@so.so</email>
  </author>

  <description>
    Model Name : Squirrel
Author : Sam Grinder
Publisher : sketchosaurus

You can view this model here :
http://www.3dvia.com/content/16D9BA0C1E300214
More models about this author :
http://www.3dvia.com/sketchosaurus


-- Attached license --

A license is attached to the Squirrel model and all related media.
You must agree with this licence before using the enclosed media.

License : Attribution License 2.5
Detailed license : http://creativecommons.org/licenses/by/2.5/

The licenses used by 3dvia are based on Creative Commons Licenses.
More info: http://creativecommons.org/about/licenses/meet-the-licenses

  </description>
</model>
