<?xml version="1.0"?>
<launch>

	<!-- start trajectory republisher -->
	<!--<node name="arm_trajectory_republisher" pkg="youbot_description" type="arm_trajectory_republisher" output="screen"/>-->


	<!-- start gazebo empty world-->
	<param name="/use_sim_time" value="true" />
	<!-- loads gazebo and a simulation environment -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
	  <arg name="world_name" value="$(find dense_reconstruction)/gazebo/worlds/reconstruction_scene_3.xml"/>
	  <arg name="gui" value="true"/>	  
	</include>
	
	
	<!-- send youbot urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find flying_stereo_cam)/flying_stereo_cam.xacro'"/>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen"
	args="-param robot_description
	      -urdf
	      -x 0
	      -y -1
	      -z 0.4
	      -R 0
	      -P 0
	      -Y 1.570796327
	      -model flying_stereo_cam">
	</node>
	
	<!-- stereo image processing node (edited version such that it takes the frame name into account) -->
	<include file="$(find dense_reconstruction)/launch/stereo_processing.launch" />
	
</launch>
