<?xml version="1.0"?>
<!-- 
  Example launch file for octomap_server mapping: 
  Listens to incoming PointCloud2 data and incrementally builds an octomap. 
  The data is sent out in different representations. 

  Copy this file into your workspace and adjust as needed, see
  www.ros.org/wiki/octomap_server for details  
-->
<launch>
	<node pkg="octomap_server" type="dr_octomap_server" name="octomap_dense_reconstruction" output="screen" clear_params="true" >
		<param name="resolution" value="0.025" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="dr_origin" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="1.50" />
		
		
		<!--<param name="filter_ground" value="true" />
		<param name="ground_filter/distance" value="0.1" />
		<param name="ground_filter/angle" value="0.2" />
		<param name="ground_filter/plane_distance" value="0.2" />-->
		
		<!-- max z -->
		<!--<param name="pointcloud_min_z" value="0" />
		<param name="pointcloud_max_z" value="0.5" />-->
		<!-- max z if octomap publishes (doesn't affect internal map)
		<param name="occupancy_min_z" value="1.5" />
		<param name="occupancy_max_z" value="0" />-->
		
		<param name="filter_speckles" value="true" />
		<param name="latch" value="false" />
		
		<!-- color setting: -->
		<param name="publish_colors" value="false" />
		
		<!-- bounding box:  -->
		<param name="update_volume/min/x" value="0.25" />
		<param name="update_volume/min/y" value="-0.75" />
		<param name="update_volume/min/z" value="0.0" />
		<param name="update_volume/max/x" value="1.75" />
		<param name="update_volume/max/y" value="0.75" />
		<param name="update_volume/max/z" value="0.5" />
		
		<param name="occupancy_threshold" value="0.5"/> <!--default: 0.5 -->

		<!-- use stereo sensor model (quadratic error) -->
		<param name="sensor_model/stereo_model" value="true"/>

		<!-- stereo model error coefficient: P_hit' = P_hit * C * (max_range^2 / d^2) -->
		<param name="sensor_model/stereo_error_coeff" value="8.887"/><!--8.887-->
		
		<param name="sensor_model/hit" value="0.7"/> <!-- probability for being occupied on a hit -->
		<param name="sensor_model/miss" value="0.3"/><!-- probability for being occupied on a miss -->
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/remode/pointcloud" />
	
	</node>
</launch>
