<?xml version="1.0"?>
<launch>
  
    <node pkg="svo_ros" type="vo" name="svo" clear_params="true" output="screen">
    
        <!-- Camera topic to subscribe to -->
        <param name="cam_topic" value="/youbot/eye/image_rect" type="str" />
        
        <!-- Camera calibration file -->
        <rosparam file="$(find dense_reconstruction)/config/gazebo_cam.yaml" />
        
	<!-- Camera calibration file -->
	<!--<rosparam file="$(find rpg_calib)/cameras/bluefox_016_pinhole.yaml" />-->
	<param name="calib_file" value="$(find dense_reconstruction)/config/gazebo_cam_svo_special.yaml" />
	
        <!-- Default parameter settings: choose between vo_fast and vo_accurate -->
        <rosparam file="$(find svo_ros)/param/vo_fast.yaml" />

	<!-- Additional parameters -->
	<param name="use_edgelets" value="True" />
        <param name="max_fts" value="150" />
	<!--<param name="init_rx" value="3.14159" />-->
        <param name="T_world_imuinit/qx" value="1" />
        <param name="T_world_imuinit/qy" value="0" />
        <param name="T_world_imuinit/qz" value="0" />
        <param name="T_world_imuinit/qw" value="0" />
	
        <param name="detector_threshold_primary" value="10" />

        <!-- Dense Input -->
        <param name="publish_every_nth_dense_input" value="5" />
        <param name="publish_dense_input" value="True" />
	
	
	<!-- Initial camera orientation, make it point sideways -->
	<!--<param name="init_rx" value="0" />
	<param name="init_ry" value="1.57" />
	<param name="init_rz" value="0.00" />-->
    </node>
        
</launch>
