<?xml version="1.0"?>
<launch>
  <!--ns="dense_reconstruction"-->
  <node pkg="dense_reconstruction" type="view_planner" name="view_planner"  clear_params="true" output="screen">
    <param name="data_folder" value="$(find dense_reconstruction)/data/view_planning/" />
    
    <!-- the cost weight should be positive since it is internally counted negative -->
    <param name="cost_weight" value="1.0" />
    
    <param name="information_metric/NrOfUnknownVoxels/weight" value="1.0" />
    <param name="information_metric/AverageUncertainty/weight" value="1.0" />
    <param name="information_metric/AverageEndPointUncertainty/weight" value="1.0" />
    <param name="information_metric/UnknownObjectSideFrontier/weight" value="1.0" />
    <param name="information_metric/UnknownObjectVolumeFrontier/weight" value="1.0" />
    <param name="information_metric/ClassicFrontier/weight" value="1.0" />
    <param name="information_metric/EndNodeOccupancySum/weight" value="1.0" />
    <param name="information_metric/TotalOccupancyCertainty/weight" value="1.0" />
    <param name="information_metric/TotalNrOfOccupieds/weight" value="1.0" />
    
    
  </node>

  
</launch>
