<?xml version="1.0"?>
<launch>
  <!--ns="dense_reconstruction"-->
  <node pkg="dense_reconstruction" type="view_planner" name="view_planner"  clear_params="true" output="screen">
    <param name="data_folder" value="$(find dense_reconstruction)/data/view_planning/" />
    
    <!-- whether already visited views shall be considered again or not -->
    <param name="discard_visited" value="true" />
    
    <!-- if true then timing values will be calculated and saved along with the other data -->
    <param name="observe_timing" value="true" />
    
    <!-- whether the next best view shall be chosen randomly -->
    <param name="random_nbv" value="false" />
    
    <!-- the cost weight should be positive since it is internally counted negative -->
    <param name="cost_weight" value="0.1" />
    <param name="information_weight" value="1.0" />
    
    <param name="information_metric/IgnorantTotalIG/weight" value="0.01" />
    <param name="information_metric/OccupancyAwareTotalIG/weight" value="10.0" />
    <param name="information_metric/ClassicFrontier/weight" value="200.0" />
    <param name="information_metric/TotalUnknownIG/weight" value="200.0" />
    <param name="information_metric/UnknownObjectSideFrontier/weight" value="50.0" />
    <param name="information_metric/UnknownObjectVolumeIG/weight" value="50.0" />
    <param name="information_metric/TotalOccupancyCertainty/weight" value="0.0" />
    <param name="information_metric/TotalNrOfOccupieds/weight" value="0.0" />
    <param name="information_metric/TotalNrOfFree/weight" value="0.0" />
    <param name="information_metric/TotalEntropy/weight" value="0.0" />
    <param name="information_metric/TotalNrOfNodes/weight" value="0.0" />
    
    <param name="information/ray_resolution_x" value="0.1" />
    <param name="information/ray_resolution_y" value="0.1" />
    <param name="information/ray_step_size" value="1" />
    <param name="information/subwindow_width_percentage" value="0.6" />
    <param name="information/subwindow_height_percentage" value="0.6" />
    <param name="information/min_ray_depth" value="0.05" />
    <param name="information/max_ray_depth" value="2" />
    <param name="information/occupied_passthrough_threshold" value="0" />
  </node>

  
</launch>
